<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@200;300;500&family=Roboto:wght@100;300&&family=Tangerine&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"
    ></script>
  </head>

  <body>
    <section
      class="vh-100 bg-image"
      style="background-image: url('imgs/diversity.jpeg'); background-repeat: no-repeat; background-size: cover;"
    >
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <% if (locals.messages.errors) { %> <% messages.errors.forEach( el=>
            { %>
            <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %> <% } %> <% if (locals.messages.info) { %> <%
            messages.info.forEach( el=> { %>
            <div class="alert alert-info"><%= el.msg %></div>
            <% }) %> <% } %>
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center logintexts mb-5">
                    Gathered & Empowered
                  </h2>
                  <form action="/login" method="POST">
                    <h4 class="fw-normal mb-3 pb-3 logintexts" style="letter-spacing: 1px">
                      Sign into your account
                    </h4>

                    <div class="form-group mb-3">
                      <label for="exampleInputEmail1" class="form-label logintexts"
                        >Email</label
                      >
                      <input
                        type="email"
                        class="form-control form-control-lg"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        name="email"
                      />
                    </div>

                    <div class="form-group mb-3">
                      <label for="exampleInputPassword1" class="form-label logintexts"
                        >Password</label
                      >
                      <input
                        type="password"
                        class="form-control form-control-lg"
                        id="exampleInputPassword1"
                        name="password"
                      />
                    </div>

                    <button type="submit" class="btn-danger loginButton">
                      Login
                    </button>
                  </form>

                  <hr />
                  <p class="small mb-5 pb-lg-2 logintexts">
                    Don't have an account?<a class="text-muted logintexts" href="/signup"
                      ><strong>Signup</strong></a>
                  </p>
                  <p class="small mb-5 pb-lg-2 logintexts">
                    Or go <a href="/index">home</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/jquery/jquery.js"></script>
  </body>
</html>
